section.about-sec-3 .prelative.container .visi-misi .content ul li,
section.about-sec-3 .prelative.container .visi-misi .content ol li,
section.about-sec-3 .prelative.container .visi-misi .content{
	color: #fff;
    font-weight: 300;
	font-size: 16px;
    text-align: left;
}

section.home-sec-1 .box-content .tombol a{
	font-size: 16px;
	font-weight: 700;
	color: #000;
	padding-left: 40px;
	padding-right: 40px;
}

.header-affixs .lgo_web_headrs_wb {
    padding-top: 2px;
    max-width: 125px;
    position: relative;
}
.header-affixs .lgo_web_headrs_wb img {
    padding-top: 6px;
    max-width: 100%;
    width: auto;
}

.cover.whatwedo{
	background-image: url('../images/ill-services.jpg') !important;
}

/*section.contact-sec-1 .prelative.container form button{*/
/*	background: none; background-color: transparent;*/
/*	box-shadow: none; border-radius: 0px; padding: 0px;*/
/*	text-indent: -9999px;*/
/*	outline: none;*/
/*    border: 0px;*/

/*	width: 144px; height: 44px;*/
/*	background: url('../images/backs_btn-submit.png')  no-repeat;	*/
/*}*/
.cover.career{
	height: 637px;
}
.cover .text p{
	line-height: 1.2;
}

section.contact-sec-1 .prelative.container .content .title p{
	line-height: 1.2;
}


@media screen and (max-width: 767px) {
	
	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-text {
	    position: absolute;
	}
	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-text .bxsl_tx_fcs h5 {
	    font-size: 18px;
	    color: #fff;
	}
	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-text .bxsl_tx_fcs h3,
	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-text .bxsl_tx_fcs p{
	    color: #fff;
	}
	.fcs-wrapper.outers_fcs_wrapper{
		padding-top: 0 !important;
	}

}